/target/
/allure-results/
/test-output/
/.allure/
/debug.log/
/ExtentReports.html
.settings
.classpath
.project
/.idea/
/.github/workflows/
/src/test/resources/downloads/ScreenShot/
/.github/workflows/
/video/
/collections/allure-results/
/collections/target/
/exportToHTML
/src/test/resources/downloads
